<html>
<head>
<title>Common Approach Repository Login Page</title>
</head>

<body>
<center><h1>Common Approach Repository<br> Login Page</h1>

<center><b style="color:red;">{{ message }}</b></center>

	<FORM action="http://localhost:5000/Login" method="post">
      <fieldset>
        <legend>Repository Login</legend>
        <label for="hasEmail">Email: </label> 
        <INPUT type="email" name="hasEmail" id="hasEmail" size=40><BR>
        <label for="hasPassword">Password: </label>
        <INPUT type="password" name="hasPassword" id="hasPassword" size=20><BR>
        <INPUT type="submit" value="Submit"> 
      </fieldset>
    </FORM>
    
</center>
</body>
</html>