{% extends 'base.html' %}

{% block head %}
<title>Common Approach Repository User Login Page</title>
{% endblock %}
  
{% block body %}
<center><h1>Common Approach Repository<br> User Login</h1></center>

<center><b style="color:red;">{{ message }}</b></center>

{% if userType == superUser %}

<FORM action="/UserLogin" method="POST">
	<label for="selectOrganization">Please select the organization you wish to edit or delete:</label>
	<select name="forOrganization" id="forOrganization">
	  {% for org in cadr.search(type=cids.Organization %}
		<option value={{org.iri}}>{{org.hasLegalName}}</option>
	  {% endfor %}
	</select>
     <label for="hasEmail">Please eneter the email address of the User you wish to edit or delete:</label>
     <input type="email" name="hasEmail" id="hasEmail" value= {{ hasEmailValue }}>
  {% else %}
    <label for="userIRI">Please select the User you wish to edit or delete:</label>
    <select name="userIRI" id="userIRI" size=1">
      {% for user in users %}
        <option value= "{{user.iri}}" > {{user.hasEmail}} {% if user.forPerson %} [{{user.forPerson.familyName}}, {{user.forPerson.givenName}}] {% endif %} </option>
      {% endfor %}
    </select>
  {% endif %}
<p><INPUT type="submit" value="Submit"> 
</form>

{% endif %}

{% endblock %}